<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApCh7G8Z2JDEfKVm1izMZFC-9u9oy3qEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1063190777504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.kaitokudo2468110921.nogizaka-pilgrimage</string>
	<key>PROJECT_ID</key>
	<string>nogizaka-pilgrimage</string>
	<key>STORAGE_BUCKET</key>
	<string>nogizaka-pilgrimage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063190777504:ios:f4a5b8e384f1ae33dc83c5</string>
</dict>
</plist>